.wrapper {
  background-color: #323135;
  height: 100vh;
  color: #555555;
}

li {
  list-style-type: none;
  text-align: left;
  background-color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
}

.strikethrough-text {
  text-decoration: line-through;
}

.marked-action {
  float: right;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
