body {
  background-image: url(/img/sfondo-lavagna.jpg);
  background-size: cover;
}

.wrapper {
  height: 100vh;
  font-family: "Nunito", sans-serif;
}

/** LIST ITEMS **/

ul {
  border: 1px solid whitesmoke;
  background-color: rgb(137, 137, 137, 0.3);
  border-radius: 15px;
  padding-inline-start: 0;
  padding: 1rem;
  width: 80%;
}

li {
  list-style-type: none;
  text-align: left;
  background-color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}

li:hover {
  background-color: #0d6dfd46;
  color: whitesmoke;
}

.strikethrough-text {
  text-decoration: line-through;
  color: rgb(137, 137, 137);
}

.marked-action {
  float: right;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
